body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(ufc-background.jpg);
    background-position: center;
    background-size: cover;
    background-color: #000000;
}

.page{
    display:grid;
    place-items: center;
    height: 100vh;
}

.fight_box{
    background: rgb(26, 26, 26);
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);;
}

.fighters{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap:15px;
    align-items: center;
}

.fighters input{
    padding: 10px;
    font-size: 15px;
}

.vs{
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.predict_btn{
    margin-top: 25px;
    padding: 12px 40px;
     --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.1s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow:
    0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.predict_btn:hover{
    background-position: right top;
}

.predict_btn:active {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

.predict_btn:focus-visible {
  outline: 2px solid var(--btn-bg-2);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  .predict_btn {
    transition: linear;
  }
}